@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    CABA - Argentina<br />
    Flores<br />
    <abbr title="Phone">P:</abbr>
    1555555555
</address>

<address>
    <strong>Soporte:</strong> <a href="ss-chak@hotmail.es"</a><br />
</address>
